- hosts: haproxy
  become: yes
  roles:
    - haproxy
    - keepalived
  handlers:
  - name: Restart haproxy
    service:
      name: haproxy
      state: restarted

  - name: Restart keepalived
    service:
      name: keepalived
      state: restarted
