ProxyMode=0
Server=aws-zbx-prx.deriv.network
Hostname={{ proxy_name }}
LogFile=/var/log/zabbix/zabbix_proxy.log
LogFileSize=0
PidFile=/run/zabbix/zabbix_proxy.pid
SocketDir=/run/zabbix
DBName=zabbix_proxy
DBUser=zabbix
DBPassword={{ dbpassword }}
 ProxyOfflineBuffer=48
 ProxyConfigFrequency=60
 DataSenderFrequency=30
SNMPTrapperFile=/var/log/snmptrap/snmptrap.log
Timeout=4
FpingLocation=/usr/bin/fping
Fping6Location=/usr/bin/fping6
LogSlowQueries=3000
 AllowRoot=1
StatsAllowedIP=127.0.0.1
 TLSConnect=psk
 TLSAccept=psk
 TLSPSKIdentity={{ proxy_name }}
 TLSPSKFile= /home/zabbix/secret_proxy.psk
