global
    daemon
    maxconn 256

defaults
    mode tcp #http
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend http_front
    bind {{ vip_address }}:{{ haproxy_frontend_port }}
    default_backend http_back

listen stats
        bind 0.0.0.0:8989
        mode http
        stats enable
        stats uri /haproxy_stats
        stats realm HAProxy\ Statistics
        stats auth admin:{{ basic_auth }}
        stats admin if TRUE

backend http_back
    balance roundrobin #or other balanicing methods
{% for srv in haproxy_backend_servers %}
    server {{ srv.name }} {{ srv.ip }}:{{ srv.port }} check
{% endfor %}

